// Specific CSS for your home-page

html,
body {
  height: 100%;
}

#main {
    min-height:100%;
    background-color: $dark-red;
    padding-bottom: 50px;
}

// Footer
#sticky-footer {
    display: flex;
    flex-shrink: none;
    height: 70px;
    margin-top: -70px;
  }

#sticky-footer > .container {
    color: $black;
}
 //__________________________navbar______________________
 .dropdown:hover>.dropdown-menu {
  display: block;
}
.sign {
  margin-left: 50px;
}