<div class="form-container">
    <h1 class="text-center"> Login here </h1>
    <form class="p-4">
        <div class="well">
            <div class="form-group">
                <label for="email">Date:</label>
                <input class="date-time" type="date" name="Pick up date">
            </div>
            <div class="form-group">
                <label for="email">Time:</label>
                <input class="date-time" type="time" name="Pick up time">
            </div>
            <button type="submit" class="btn btn-primary btn-registration">Proceed</button>
        </div>
    </form>
</div>
</div>
</main>
