
<main id="main" class="grid-container" role="main">
    <section id="cover" class="text-center p-5">
    <div class = "middle-container">
    <div class="right-side">
    <h1> here is image</h1>
    </div>
    <div class="left-side">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead py-3">Cover is a one-page template for building simple and beautiful home pages. Download, edit
            the text, and add your
            own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-info">Learn more</a>
        </p>
        </div>
        </div>
    </section>
</main>

<footer id="sticky-footer" class="py-4 bg-light text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Geek Gamers</small>
    </div>
</footer>