// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card img{
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.container-card {
    display: -webkit-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}